body {
    background-color: #F0E6FA;
}

.info {
    position: absolute;
    width: 50%;
    height: 80%;
    left: 50px;
    padding-left: 0px;
    padding-bottom: 50px;
    padding-top: 70px;
    padding-right: 0px;
    font-size: 15px;
}

.info .info-title{
	font-size: 30px;
	font-weight: bold;
}

.info li { 
	margin: 20px 0; 
	padding-left:30px;
}

.info ul {
	list-style-image: url(../img/bullet.png);
	padding: 0px;
}

.login-info{
	position: absolute;
	width:50%;
    right: 50px;
    top:100px;
	padding-left: 10px;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 10px;
	background-position: center;
	background-size: 500px, 550px;
	background-repeat: no-repeat;
}

.login-info .info-title {
	font-size: 30px;
	font-weight: bold;
}

.form-control {
	width:80%;
	height:80%;
}

.footer {
    position:fixed;
    bottom:0px;
    width:100%;
    text-align:right;
    padding-top:5px;
    padding-bottom:5px;
}