<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width" />

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Latest compiled and minified Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Latest compiled nad minified AngularJs -->
	<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

	<!--Parse is shutting down-->
	<script src="https://www.parsecdn.com/js/parse-1.4.2.min.js"></script>

	<!--Trying Firebase
	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
	-->

	<script src="js/index.js"></script>

	<link rel="stylesheet" href="css/landing.css">
	<link rel="stylesheet" href="css/navbar.css">

	<title>BookMarker</title>

</head>
<body ng-app="index" ng-controller="indexCtrl" name="index" novalidate>
	<!-- Navigation Bar Begin -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- Logo Button -->
				<a class="navbar-logo" href="">BookMarker</a>
			</div>

			<div class="collapse navbar-collapse" id="loginForm">
				<form class="navbar-form">
					<!-- Login Email Field -->
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Email" ng-model="logInEmail">
					</div>
					
					<!-- Login Password Field -->
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" ng-model="logInPassword">
					</div>

					<!-- Login Button -->
					<button type="submit" class="btn btn-default" ng-click="logIn()">
						Confirm
					</button>
				</form>
			</div>
		</div>
	</nav>
	<!-- Navigation Bar End -->

	<!-- Content Begin -->
	<div class = "info">
		<div class="col-sm-offset-2 col-sm-10">
			<label>
				<div class="info-title">
					The Newest Way to Store Your Favorite Webpage
				</div>
			</label>
			<ul>
				<li>Store Hyperlink with specific Title and Description</li>
				<li>Organized List by different personal folders</li>
				<li>Find more about the most favorite page in the world</li>
			</ul>
		</div>
	</div>

	<!-- Sign Up Form -->
	<form class="form-horizontal">
		<div class = "login-info">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<label>
						<div class="sign-up">
							Sign Up Now!<br />
							It’s free and always will be.
						</div>
					</label>
				</div>
			</div>

			<!-- Sign Up Name field -->
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label"></label>
					<!-- Sign Up First Name Field -->
					<div class="col-md-4">
						<input type="text" class="form-control" name="signUpFirstName" placeholder="First Name" ng-model="signUpFirstName" required>
					</div>

					<!-- Sign Up Last Name Field -->
					<div class="col-md-4">
						<input type="text" class="form-control" name="signUpLastName" placeholder="Last Name" ng-model="signUpLastName" required>
					</div>
			</div>

			<!-- Sign Up Email field -->
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label"></label>
					<div class="col-md-9">
						<input type="email" class="form-control" name="signUpEmail" placeholder="Email Address" ng-model="signUpEmail" required>
					</div>
			</div>
			
			<!--Hided Sign Up Re-Enter Email
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label"></label>
					<div class="col-md-9">
						<input type="email" class="form-control" placeholder="Re-Enter Email" ng-model="signUpEmail2" required>
					</div>
			</div>
			<div class="form-group">
				<span ng-show="index.signUpEmail.$error.required">5</span>
			</div>
			-->

			<!-- Sign Up Password field -->
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label"></label>
					<div class="col-md-9">
						<input type="password" class="form-control" placeholder="Password" ng-model="signUpPassword" required>
					</div>
			</div>
			<!--Hided Sign Up Re-Enter Password
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label"></label>
					<div class="col-md-9">
						<input type="password" class="form-control" placeholder="Re-Enter Password" ng-model="signUpPassword2">
					</div>
			</div>
			-->

			<!-- Sign Up button -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" ng-click="signUp()">
						Sign up
					</button>
				</div>
			</div>

			<!-- redirect to account create -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<label>Already have an accout?</label>
					<a href="">Log in on the top!</a>
				</div>
			</div>
		</div>
	</form>
	<div class="footer">Website Developed by <a href="mailto:lawchihon@ymail.com">John Law</a>　</div>

	<!-- Content End -->
</body>

</html>